Repository stellar/stellar-protocol, pull requests merged in 2019-06, with the labels that each got.

#231 Update sep-0012.md
  ecosystem/sep-0006.md
  ecosystem/sep-0012.md
Labels: update

#262 Add refunded transaction status to SEP-0006
  ecosystem/sep-0006.md
Labels: SEP, update

#319 Add a fiat example
  ecosystem/sep-0006.md
Labels: SEP, update

#325 Minor update to SEP-0007
  ecosystem/sep-0007.md
Labels: update

#323 add some clarifications to CAP-0015 regarding handling of duplicate bumpFee transactions
  core/cap-0015.md
Labels: CAP, update

#306 Mark `dest` as optional in SEP-0006 withdraw
  ecosystem/sep-0006.md
Labels: update
